resources:
- manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- digest: sha256:f73da24a06523737f5a7e17d53706bbad2feb818b47d1fc30ea4c7b9fd24bab2
  name: controller
  newName: keppel.eu-de-1.cloud.sap/ccloud/cobaltcore-dev/labels-injector
