apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "labels-injector.fullname" . }}-manager-role
  labels:
  {{- include "labels-injector.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - patch
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "labels-injector.fullname" . }}-manager-rolebinding
  labels:
  {{- include "labels-injector.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "labels-injector.fullname" . }}-manager-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "labels-injector.fullname" . }}-controller-manager'
  namespace: '{{ .Release.Namespace }}'
